header{
    width: 100%;
    height: 600px;
    background-image: url("../img/grupo1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;
}

.titulos{
    margin-top: 120px;
}

h1{
    font-size: 100px;
}

.titulos h2{
    font-size: 70px;
}

.imagen2{
    width: 100%;
    height: 500px;
    background-image: url("../img/slide2.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;
}